.img_wrap {
    /* border: 1px solid #ddd; */
    width: 320px;
    height: 240px;
    margin: auto;
    overflow: hidden;
    display: inline-block;
    background: #000;
}

.img_wrap img {
    height: 100%;
    transform: scale(1.1);
    cursor: pointer;
    filter: grayscale(100%);
    transition-duration: 0.5s;
}

.img_wrap img:hover {
    filter: grayscale(0);
    opacity: 0.6;
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.img_w {
    margin: auto;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    background: #FFFFFF;
}

.img_w img {
    width: 85%;
    /* 横幅を割合で指定 */
    height: auto;
    /* 高さは自動指定 */
    transform: scale(1.1);
    cursor: pointer;
    transition-duration: 0.5s;
}

.img_w2 img {
    width: 85%;
    /* 横幅を割合で指定 */
    height: auto;
    /* 高さは自動指定 */
    transform: scale(1.0);
    cursor: pointer;
    transition-duration: 0.5s;
}