/*
 * Subpage-specific styles (all pages except index.html)
 * Loaded AFTER common.css
 */

/* Subpage-specific: canvas fixed to viewport */
canvas {
    position: fixed;
}

/* Subpage-specific: title z-index for layering above fixed canvas */
div#title {
    position: relative;
    z-index: 9;
}

/* Subpage-specific: content_in with padding */
div#content_in {
    float: auto;
    padding: 30px 30px 30px 30px;
}

/* Subpage-specific: menu fixed to viewport */
div#menu {
    position: fixed;
    z-index: 10;
}

/* Filter button active state */
.filter-btn.active {
    color: #006DD9;
    font-weight: bold;
}

/* Accessibility: Strikethrough for deprecated content */
.strikethrough {
    text-decoration: line-through;
}

.back {
    text-align: right;
    float: left;
}

/* Box-sizing reset */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* CSS Slider Component */
.cp_cssslider {
    width: 300px;
    padding-top: 200px;
    position: relative;
    margin: 2em auto;
    text-align: center;
}

.cp_cssslider>img {
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.cp_cssslider input[name='cp_switch'] {
    display: none;
}

.cp_cssslider label {
    margin: 15px 5px 0 5px;
    border: 2px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s ease;
    opacity: 0.6;
    border-radius: 3px;
}

.cp_cssslider label:hover {
    opacity: 0.9;
}

.cp_cssslider label img {
    display: block;
    width: 40px;
    border-radius: 2px;
}

.cp_cssslider input[name='cp_switch']:checked+label {
    border: 2px solid #FF7043;
    opacity: 1;
}

.cp_cssslider input[name='cp_switch']~img {
    opacity: 0;
}

.cp_cssslider input[name='cp_switch']:checked+label+img {
    opacity: 1;
}

/* Utility classes */
.mgr-10 {
    margin-right: 10px;
}

.mgr-40 {
    margin-right: 40px;
}

.mgr-20 {
    margin-right: 20px;
}

.list-style-none li {
    list-style: none;
}
