body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: #333;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 0.8px;
  word-break: break-all;

}


canvas {
    display:block; /* remove scrollbars */
    position: absolute; /* position at top left corner for overlay */
    left: 0;
    top: 0;
    z-index: -999;
}

/* h1 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
}

h2 {
    color: #111;
    font-family: 'Open Sans',sans-serif;
} */

p {
    color: #685206;
    font-family: 'Helvetica Neue', sans-serif;
}





/* sns icon */
/* https://moonnote.hateblo.jp/entry/2015/12/03/200718 */
.follow-me {
  list-style: none;
  margin: 0 0 -8px;
  overflow: hidden;
  padding: 0;
}
.follow-me li {
  float: left;
  margin: 0 8px 8px 0;
  padding: 0;
}
.follow-me li a::before {
  background-color: #eee;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #333;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 44px; /* Button height */
  line-height: 44px; /* Button height */
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-align: center;
  width: 44px; /* Button width */
}
.follow-me li a:hover::before {
  background-color: #333;
  color: #fff;
}
.follow-me li a[href*="facebook.com"]::before       { content: "\f09a"; }
.follow-me li a[href*="github.com"]::before         { content: "\f09b"; }
.follow-me li a[href*="instagram.com"]::before      { content: "\f16d"; }
/* .follow-me li a[href*="soundcloud.com"]::before        { content: "\f099"; } */
.follow-me li a[href*="twitter.com"]::before        { content: "\f099"; 
/* .follow-me li a[href*="twitter.com"]::before        { content: "\f099"; } */



/* hover */
a:link {
  color: #000000;	/* リンクをクリックしていない時の色 */
  }
  a:visited {
  color: #FF9696; /* すでにリンクをクリックした時の色 */
  }
  a:hover {
  color: #006DD9;	/* マウスオーバーした時に色を変える */
  }
  a:active {
  color: #B20000;	/* 要素をマウスでクリックした時の色 */
  }

/* aタグ下線消し */
  a { text-decoration: none; }